:host {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.filters,
form {
  display: flex;
  gap: 10px;
}

.panel-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.error-notifier {
  color: red;
}
