<ng-container *ngIf="chartData; else initial">
  <ng-container *ngIf="chartData.length; else empty">
    <google-chart
      [data]="chartData!"
      [columns]="columnNames"
      [options]="chartOptions"
      [width]="chartWidth"
      [height]="chartHeight"
      [type]="chartType"
      [dynamicResize]="true"
    ></google-chart>
  </ng-container>
  <ng-template #empty>
    <p>The array is empty.</p>
  </ng-template>
</ng-container>

<ng-template #initial>
  <p>Press "filter" button</p>
</ng-template>
